<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="On" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDir" value="${specialfolder:folder=CommonApplicationData}/MiniBrowser/log" />
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="file" xsi:type="File"
           layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-40:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
           fileName="${var:logDir}/minibrowser.log"
           keepFileOpen="true"
           encoding="utf-8" />
  </targets>
  <rules>
    <logger minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
